nav {
    list-style: none;
    display: flex;
    font-size: 20px;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li a{
    text-decoration: none;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 30px;
    margin-right: 20px;
}
.Home {
    color: green;
    text-decoration: none;
}

body{
    background-color:  lightblue;
}
.imp4{
    margin-top: 30px;
    display: flex;  
}

.link{
    margin-top: 30px;
    font-size: 30px;
}

.name,.mail{
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: lightblue;
    color: green;
    border-color: green;
}

.mail{
    margin-top: 15px;
    width: 248px;
}

.text{
    background-color:   lightblue;
    width: 502px;
    margin-top: 15px;
    height: 100px;
    resize: none;
    color: green;
    border-color: green;
}

.mail::placeholder,.name::placeholder,.text::placeholder{
    color: green;
    font-size: 17px;
    font-family: cursive;
}

.subbut{
    background-color: lightblue;
    font-family: serif;
    color: green;
    border: none;
    text-decoration: none;
    font-size: 17px;
}

.subbut:hover{
    background-color:  lightblue;
}

.imp2{
    padding-left: 350px;
    padding-top: 200px;
}


.dm{
    font-size: 30px;
}

.imp0{
    display: flex;
}

.call{
    position: absolute;
    padding-top: 20px;
    display: flex;
}

.old{
    position: absolute;
    padding-top: 80px;
    display: flex;
}

.new{
    padding-top: 200px;
}

.imp5{
    padding-top: 100px;
}

.fb{
    padding-left: 700px;

}

.media{
    text-align: center;
    font-size: 30px;
    background-color: whitesmoke;
    color: rgb(44, 101, 121);

}
#box{
    display: none;
}

.imp{
    display: none;

}
 .first{
    list-style: none;
    padding-left: 800px;
    display: flex;
    margin-right: 20px;
    font-size: 20px;
 }
/* Example media query for smaller screen sizes */
@media only screen and (max-width: 768px) {
    /* Adjust the layout for smaller screen sizes */
 .menu-bar2 {
      display: none;
      background-color: rgb(171, 171, 171);
      width: 200%;
    }
    .imp {
      display: flex;
    }
    /* Add CSS styles for the hamburger menu */
   #toogle-box:checked ~ .menu-bar2 {
      display:flex;
      flex-direction: column;
     left: 0;
    }
    .imp0{
        display: flex;
        flex-direction: column;
    }
    .imp2{
     padding: 0;
     margin-top: 120px;
    }

    .fb{
        padding: 0;
    }

    .social{
        display: flex;
        justify-content: center;
    }
    .text{
        width: 256px;
    }
  }
  
  #toogle-box{
    display: none;
  }
  
@media only screen and (min-width:767px) {
    .imp{
        display: none;
    }
}
