.first{
    padding: 20px;
    margin-right: 5px;
 padding-left: 905px;
}

.first a{
    text-decoration: none;
    font-size: 20px;
    margin-right:20px;
}

.menu{
    color:green;
}
body{
    background-color:  rgb(197, 154, 154);
}
.imp4{
    margin-top: 30px;
    display: flex;  
}

.link{
    margin-top: 30px;
    font-size: 30px;
}

.name,.mail{
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: rgb(197, 154, 154);
    color: green;
    border-color: green;
}

.mail{
    margin-top: 15px;
    width: 248px;
}

.text{
    background-color:  rgb(197, 154, 154);
    width: 502px;
    margin-top: 15px;
    height: 100px;
    resize: none;
    color: green;
    border-color: green;
}

.mail::placeholder,.name::placeholder,.text::placeholder{
    color: green;
    font-size: 17px;
    font-family: cursive;
}

.subbut{
    background-color: rgb(197, 154, 154);
    font-family: serif;
    color: green;
    border: none;
    text-decoration: none;
    font-size: 17px;
}

.subbut:hover{
    background-color: rgb(156, 153, 162) ;
}

.imp2{
    padding-left: 450px;
    padding-top: 200px;
}


.dm{
    font-size: 30px;
}

.imp0{
    display: flex;
}

.call{
    position: absolute;
    padding-top: 20px;
    display: flex;
}

.old{
    position: absolute;
    padding-top: 80px;
    display: flex;
}

.new{
    padding-top: 200px;
}

.imp5{
    padding-top: 100px;
}

.fb{
    padding-left: 700px;

}

.media{
    text-align: center;
    font-size: 30px;
    background-color: brown;

}