/* styling the nav bar */
nav {
    list-style: none;
    display: flex;
    font-size: 20px;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li a{
    text-decoration: none;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 30px;
    margin-right: 20px;
}

.Home {
    color: green;
    text-decoration: none;
}


body{
    background-color:  lightblue;
}

/* adding animation */
.head{
  
    font-size: 100px;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    animation: typing steps(200) 3s;
}
/* adding key frames */
@keyframes typing {
    from { width: 0px }
    to { width: 1000px }
  }
/* styling the images */
.bmp ,.imp10{
    margin-left: 30px;
    margin-top: 35px;
}

.imp4 ,.imp6 ,.imp9{
    display: flex;
}

.imp5 ,.imp8 ,.imp11{
    margin-left: 50px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    padding-top: 50px;
}

.imp8{
    text-align: right;
    padding-right: 60px;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
}
/* styling the graduation and interest section */
.edu{
    border: 5px solid black;
    border-radius: 10px;
    width: 550px;
    margin-top: 20px;
    padding: 10px;
}
.edu  li{
    font-size: 20px;
}

.edu h1{
    text-align: center;
}

.interest{
    border: 5px solid black;
    border-radius: 10px;
    width: 550px;
    margin-top: 20px;
    padding: 10px;
}

.interest li{
    font-size: 20px;
}

.interest h1{
    text-align: center;
}

/* media query for mobile view*/
@media only screen and (max-width: 768px) {
    /* Adjusting the layout for mobile screen sizes */
 .menu-bar2 {
      display: none;
      background-color: rgb(171, 171, 171);
      width: 215%;
    }
    .imp {
      display: flex;
    }
    /*CSS styles for the hamburger menu */
   #toogle-box:checked ~ .menu-bar2 {
      display:flex;
      flex-direction: column;
     left: 0;
    }
    .head {
        font-size: 30px;
        font-family: 'Inter', sans-serif;
        overflow: hidden;
        white-space: nowrap;
        animation: typing steps(200) 3s;
    }
    .bmp , .imp7 ,.imp10{
        width: 38%;
        height:100px;
        margin:0;
    }
    .imp5 ,.imp8 ,.imp11{
        font-size: 10px;
        display:inline;
        margin: 0px;
        padding: 0;
        position: relative;
        text-align: center;
    }
    .edu ,.interest {
        width: 342px;
    }
    
  }
  
  #toogle-box{
    display: none;
  }
  /*  aaplying the media query for min-width 767px
  so that the hamburgrer doesnot show in big screen */
@media only screen and (min-width:767px) {
    .imp{
        display: none;
    }
}
