.first{
    padding: 20px;
    margin-right: 5px;
    padding-left: 905px;
}

.first a{
    text-decoration: none;
    font-size: 20px;
    margin-right:20px;
}
.imp2{
    display: flex;

}

.menu{
    color:green;
}

body{
    background-color: rgb(197, 154, 154);
}

.head{
    margin-left: 300px;
    font-size: 100px;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    white-space: nowrap;
    animation: typing steps(200) 3s;
}

@keyframes typing {
    from { width: 0px }
    to { width: 1000px }
  }

.bmp{
    margin-left: 30px;
    margin-top: 35px;
}

.imp4 ,.imp6{
    display: flex;
}

.imp5 ,.imp8{
    margin-left: 50px;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}

.imp8{
    text-align: right;
    padding-right: 50px;
    font-size: 30px;
    font-family: 'Inter', sans-serif;
}