nav{
    padding: 20px;
    margin-right: 5px;
    padding-left: 905px;
}

nav a{
    text-decoration: none;
    font-size: 20px;
    margin-right:20px;
}
.imp2{
    display: flex;

}

.menu{
    color:green;
}

.myname{
    font-size: 20px;
    color: rgb(4, 2, 0);
}
body{
    background-color:  lightblue;
}

.intro:hover{
   color: rgb(30, 53, 227);
}

.intro{
    font-size: 40px;
}