nav {
    list-style: none;
    display: flex;
    font-size: 20px;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li a{
    text-decoration: none;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 30px;
    margin-right: 20px;
}

.Home {
    color: green;
    text-decoration: none;
}
body{
   background-color:lightblue 
}

.imp4 ,.imp5 ,.imp6{
    margin-top: 40px;
}

.imp5  ,.imp6 ,.imp8 ,.imp9{
    margin-left: 15px;
    background-color: aliceblue;
    color: black;
}

.imp7 ,.imp9{
    margin-top: 15px;
}

.imp4 ,.imp7{
    margin-left: 27px;
}

.imp5{
    margin-left: 23px;
}

span{
    color: gold;
}

h1{
text-align: center;
}

.imp5 ,.im9 ,.imp10{
    background-color: lightblue;
}

.imp10{
    margin-left: 15px;
}

.imp4:hover ,.imp5:hover ,.imp6:hover ,.imp7:hover ,.imp8:hover ,.imp9:hover ,.imp10:hover{
    transform: rotate(360deg);
}

.imp4 ,.imp5 ,.imp6 ,.imp7 ,.imp8,.imp9 ,.imp10{
    transition:transform .7s ease-in-out;
}

/* Example media query for smaller screen sizes */
@media only screen and (max-width: 768px) {
    /* Adjust the layout for smaller screen sizes */
 .menu-bar2 {
      display: none;
      background-color: rgb(171, 171, 171);
      width: 160%;
    }
    .imp {
      display: flex;
    }
    /* Add CSS styles for the hamburger menu */
   #toogle-box:checked ~ .menu-bar2 {
      display:flex;
      flex-direction: column;
     left: 0;
    }

    .imp6  {
        width: 100%;
    }
    .imp9 {
        width: 100%;
    }
  }
  
  #toogle-box{
    display: none;
  }
  
@media only screen and (min-width:767px) {
    .imp{
        display: none;
    }
}
