nav{
    padding: 20px;
    margin-right: 5px;
 padding-left: 905px;
}

nav a{
    text-decoration: none;
    font-size: 20px;
    margin-right:20px;
}


.menu{
    color:green;
}

body{
    background-color:  lightblue;
}

.sub{
    display: grid;
    grid-template-columns: repeat(auto-fit,20rem);
    justify-content: center;
  
}
.imp1{
    width: 200px;
    border: 20px solid red;
    padding: 20px;
    margin: 20px;

}

.imp2{
    width: 200px;
    border: 20px solid red;
    padding: 20px;
    margin: 20px;
}

.line{
    width: 100px;
    color: black;
}

.head1{
    margin-bottom:30px ;
}

